<div class="main-container container is-fluid pt-6 pb-6 is-align-items-center is-centered">
  <div class="notification p-auto">
    <strong>this is the space for the logo</strong>
  </div>

  <section class="section">

    <div class="columns ">
      <div class="column has-text-centered">
        <h1 class="title">Acceder a tu cuenta</h1>
      </div>
      <div class="column">
        <div class="field">
          <div class="control">
            <input class="input" type="text" placeholder="e.g Alex Smith">
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <div class="control">
            <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
          </div>
        </div>
      </div>
    </div>

  </section>

</div>
