<div class="custom-card">
  <div class="custom-card-content">
    <h3 class="custom-card-title">Ingresa a tu cuenta de invocador</h3>

    <div class="custom-card-body">
      <form>

        <div class="grid-container">
          <div class="item6">
            <app-input
              type="text"
              inputName="nombre de invocador"
              errorMessage="Error: ocurrio un error con este nombre de invocador" ></app-input>
          </div>
          <div class="item7">
            <app-select [options]="options"  selectLabel="region"></app-select>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
